<div class="main-content">
  <div class="container-fluid">
      
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"> Daily Question Upload

                      </h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 10% </span> increase in Questions Upload.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                         
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">New Users</h4>
                      <p class="card-category">
                      <span class="text-success"><i class="fa fa-long-arrow-up"></i> 6% </span> increase in New Users</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                         
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Completed Questions</h4>
                      <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 7% </span> increase in Questions Upload
                      </p>
                  </div>
                  <div class="card-footer">
                     
                  </div>
              </div>
          </div>
      </div>
      
  </div>
</div>
